* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: hidden;
    --messenger-color: #50b7f5;
    --messenger-background: #e6ecf0;
}

.errors {
    background-color: rgba(255, 0, 0, 0.3);
    padding: 15px;
    border-radius: 20px;
    height: max-content;
    max-width: 600px;
    margin: 20px auto 0 auto;
    list-style: none;
}

label {
    margin-bottom: 0.2rem;
}

input.error, textarea.error, .error {
    border: 1px solid #f00 !important;
}

.loading {
    cursor: progress;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 2;
}
