.posts {
    padding: 2rem 0;
}

.post {
    padding: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 15px 10px;
}

.post__timestamp {
    padding: 0 10px;
    font-size: 11px;
    color: #ccc;
}

.post__headerText h3 {
    font-size: 1.5em;
    margin-left: 5px;
}

.post__bodyDescription {
    padding: 10px;
}

.post__bodyImage img {
    /*max-width: 600px;*/
    max-width: -webkit-fill-available;
}

.postProfileLink, .postProfileLink:hover {
    text-decoration: none;
}

.postsList {
    height: 100%;
    overflow-y: scroll;
}

.postsContainer {
    height: 70vh;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #867b7b;
    border-radius: 10px;
    border: 2px solid #f8fafc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #474444;
}
