.profile {
    padding: 20px;
}

.profileAvatar {
    width: 150px !important;
    height: 150px !important;
}

.profileName {
    height: 75%;
    display: flex;
    align-items: center;
}

.profileCreated {
}

.profilePostsList {
    margin-top: 50px;
    min-width: 600px;
}

.followButtons {
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .profilePostsList {
        min-width: 520px;
    }
}

@media screen and (max-width: 500px) {
    .profilePostsList {
        min-width: 480px;
    }
}
